.movie {
  position: absolute;
  bottom: 0;
  right: 0;
  width: calc(100% - 500px);
  height: calc(100vh - 120px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
  margin-right: 4rem;
  margin-bottom: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgba(255, 255, 255, 0.368);
}

.movie__img {
  border-radius: 25px;
  max-width: 35%;
  height: auto;
}

.movie__details {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 89%;
  gap: 1rem;
}
.movie__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.movie__favorite {
  cursor: pointer;
}

.movie__title {
  width: 90%;
  font-size: 2rem;
}

.movie__date {
  font-size: 1rem;
}

.movie__stars {
  display: flex;
  gap: 0.5rem;
}

.movie__genres {
  display: flex;
  gap: 1.5rem;
}

.movie__genre {
  background-color: #8f44df;
  padding: 0.5rem 0.25rem;
}

.movie__overview {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

.movie__lenguages {
  display: flex;
  gap: 1.5rem;
}

.movie__lenguage {
  padding: 0.5rem 0;
}
